
.icon-fb {
	background-image: url('png/fb.png');
	background-repeat: no-repeat;
}

.icon-gp {
	background-image: url('png/gp.png');
	background-repeat: no-repeat;
}

.icon-ieee {
	background-image: url('png/IEEE.png');
	background-repeat: no-repeat;
}

.icon-ipc {
	background-image: url('png/IPC.png');
	background-repeat: no-repeat;
}

.icon-li {
	background-image: url('png/li.png');
	background-repeat: no-repeat;
}

.icon-smta {
	background-image: url('png/smta.png');
	background-repeat: no-repeat;
}

.icon-tw {
	background-image: url('png/tw.png');
	background-repeat: no-repeat;
}